
<html>
    <head>
        <title>Django</title>
        {% load static %}
        <link href="https://fonts.googleapis.com/css2?family=Festive&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="{% static 'css/style.css'%}">
       <style>
          .my-font{
             font-family: 'Festive', cursive;
          }
          .login-font{
             font-weight: bolder;
             font-family: 'Times New Roman', Times, serif;
          }
          .forget-password{
             font-size: 22px;
          }
       </style>
    
    <body style="background-image: url('https://images.unsplash.com/photo-1495195129352-aeb325a55b65?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fHBsYWluJTIwYmFja2dyb3VuZHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60'); background-repeat: none; background-size: cover;">
    
       <nav class="navbar navbar-expand-sm navbar-dark bg-transparent" >
          <div class="container">
             <a class="navbar-brand text-dark " href="#"><h3 class=" font-weight-bolder display-4  my-font">MS</h3></a>
             <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                 aria-expanded="false" aria-label="Toggle navigation"></button>
             <div class="collapse navbar-collapse" id="collapsibleNavId">
                 <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                     <li class="nav-item active">
                         <a class="nav-link" href="/login/">Log In<span class="sr-only">(current)</span></a>
                     </li>
                     </ul>
             </div>
          </div>
       </nav>
    
    
    
    <div class="container mt-7">
       <div class="row text-center">
          <div class="col">
             <h3 class="display-3 login-font ">Sign In</h3>
          </div>
       </div>
       <div class="row text-center mt-3">
          <div class="col">
             <p class="font-weight-bold">Register yourself!!</p>
          </div>
       </div>
       <div class="row">
          <div class="col-4"></div>
          <form action="{% url 'register' %}" method="POST">
             {% csrf_token %}
          <div class="col">
             
             <div class="input-group mb-3 ">
                <div class="input-group-prepend ">
                  <span class="input-group-text" id="basic-addon1"><i class="fa fa-user" aria-hidden="true"></i></span>
                </div>
                <input type="First Name" class="form-control" placeholder="First Name" aria-label="First Name"  name="first_name" aria-describedby="basic-addon1">
             </div>
    
             <div class="input-group mb-3 ">
                <div class="input-group-prepend ">
                  <span class="input-group-text" id="basic-addon1"><i class="fa fa-user" aria-hidden="true"></i></span>
                </div>
                <input type="Last Name" class="form-control" placeholder="Last Name" aria-label="Last Name" name="last_name" aria-describedby="basic-addon1">
             </div>
    
             <div class="input-group mb-3 ">
                <div class="input-group-prepend ">
                  <span class="input-group-text" id="basic-addon1"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                </div>
                <input type="Email Address" name="email" class="form-control" placeholder="Email Address" aria-label="Email Address" aria-describedby="basic-addon1">
             </div>
    
             <div class="input-group mb-3 ">
                <div class="input-group-prepend ">
                  <span class="input-group-text" id="basic-addon1"><i class="fa fa-key" aria-hidden="true"></i></span>
                </div>
                <input type="Password" class="form-control" name="password" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
             </div>
    
             <div class="input-group mb-3 ">
                <div class="input-group-prepend ">
                  <span class="input-group-text" id="basic-addon1"><i class="fa fa-key" aria-hidden="true"></i></span>
                </div>
                <input type="password" class="form-control" placeholder="Confirm Password" aria-label="Confirm Password" aria-describedby="basic-addon1">
             </div>
             
                <div class="row text-center">
                <div class="col">
                   <button type="submit" class=" font-weight-bold forget-password  btn btn-outline-success">
                      Sign Up <i class="fa fa-user-plus" aria-hidden="true"></i>
                   </button>
                </div>
             </div>
          </div>
          </form>
          <div class="col-4"></div>
       </div>
    </div>
    <div class="row text-center mt-3">
          <div class="col">
             <p class="font-weight-bold">* By signing up, you agree to our Terms of Use and to receive My Spot emails & updates and acknowledge that you read our Privacy Policy.</p>
          </div>
    
    
    
    
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <script src="{% static 'js/jasc.js'%}">
    </script>
    
    </body>
    </head>
    </html>